apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k10-sa-key
  namespace: kasten-io
spec:
  secretStoreRef:
    name: cloud-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: k10secret-gcp-sa-key
    creationPolicy: Owner
  data:
  - secretKey: project-id
    remoteRef:
      key: projectid-${workspace}-${creator_label}
  - secretKey: service-account.json
    remoteRef:
      key: k10-sa-${workspace}-${creator_label}
