apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k10-dr-${creator}-${workspace}-es
  namespace: kasten-io
spec:
  secretStoreRef:
    name: cloud-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: k10-dr-secret
    creationPolicy: Owner
  data:
  - secretKey: passphrase
    remoteRef:
      key: ${creator}-${workspace}-kasten-dr-passphrase
  - secretKey: source
    remoteRef:
      key: ${creator}-${workspace}-kasten-dr-source
